html{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

header{
    
}

body{
    background-image: radial-gradient( ellipse, #EFABFF, #8C7AA9);
//https://coolors.co/efabff-eda2f2-dc6bad-8c7aa9-7192be
}